[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
