[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = git@github.com:w0ng/vim-hybrid.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule "bundle/fsharp"]
	path = bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "bundle/vim-ls"]
	path = bundle/vim-ls
	url = git@github.com:gkz/vim-ls.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = git@github.com:suan/vim-instant-markdown.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = git@github.com:tpope/vim-fireplace.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
